div.page-header{
	margin-top:50px;
	text-align:center;
}

div.page-header a{
	font-size:20pt;
	margin-bottom:0px;
	margin-top:9.5%;
	color:#2C8F94;
}

div.page-footer{
	text-align:center;
	color:#2C8F94;
}

#logo{
	height:100%;
	display: inline-block;
}

.sidebar-offcanvas{
	position: absolute;
	top: 25%;
	right: 5%;
	width: 10%; /* 6 columns */
	text-align:center;
	color:#D09457;
}

h2{
	font-size:14pt;
	margin-bottom:30px;
}

.sidebar-offcanvas a{
	color:#D09457;
}